{% extends "base.html" %}

{% block title %}Update{% endblock %}

{% block content %}


<h1>Search Discogs</h1>
<div class="main">
<div class="left">
<div>
    <p>
        Artist:
        <input type="text" id="artist_input">
    </p>
    <p>
        Album:
        <input type="text" id="album_input">
    </p>
    <p>
        Year:
        <input type="text" id="year_input">
    </p>
    <p>
        <label for="format_input">Format:</label>
        <select id="format_input">
            <option value="vinyl">Vinyl</option>
            <option value="CD">CD</option>
            <option value="Cass">Cassette</option>
            <option value="Box">Box Set</option>
            <option value="Other">Other</option>
        </select>
        <br><br>
    </p>
    <button id="search_button" type="submit">Search</button>
    </div>

</div>
<div class="right">
    <body>
        <div id="div1">
            Search Results:
        </div>
    </body>
</div>
</div>






<script>
var search_button = document.getElementById("search_button");
search_button.addEventListener('click', e => {

    var artist_input = document.getElementById("artist_input").value;
    var album_input = document.getElementById("album_input").value;
    var year_input = document.getElementById("year_input").value;
    var format_input = document.getElementById("format_input").value;
    var inputs = {"artist": artist_input, "album":album_input, "year":year_input, "format":format_input};

    fetch("/search", {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(inputs)
    })
        // expecting json
        .then(response => response.json())
        // what doing with data
        .then(data => {
            console.log(data);
            // Create new container for each entry returned by search.
            for (var i = 0; i < data.length; i++) {
                const old_container = document.getElementById("div1");
                const new_container = document.createElement("div");
                const l_container = document.createElement("div");
                const r_container = document.createElement("div");

                new_container.setAttribute('class',"box");
                l_container.setAttribute('class',"lbox");
                r_container.setAttribute('class',"rbox");
                // r_container.setAttribute('id',"div_r")

                // Handle each element in the entry
                for (var j = 0; j < 6; j++){
                    if (j == 0) {
                        const new_img = document.createElement("img");
                        new_img.src = data[i][0];
                        new_img.setAttribute('height', '100px');
                        new_img.setAttribute('width', '100px');
                        l_container.appendChild(new_img);
                        // l_container.setAttribute('height', '100px');
                        // l_container.setAttribute('width', '100px');
                        new_container.appendChild(l_container);
                    }
                    else {
                        const new_line = document.createTextNode(data[i][j]);
                        const txt_container = document.createElement("div");
                        txt_container.setAttribute('class',"text_row");
                        txt_container.appendChild(new_line);
                        r_container.appendChild(txt_container);
                        new_container.appendChild(r_container);
                        // current_container.parentNode.insertBefore(new_line, current_container);
                    }
                old_container.parentNode.insertBefore(new_container, old_container.nextSibling);
                }
            }
    }
);
});
</script>
{% endblock %}